@import 'tailwindcss';

@layer base{
    ul{
        list-style: none;
    }
    body{
        direction: rtl;
    }
    *{
        font-family: 'vazir';
        transition: all 0.1s ease-in-out;
    }
    li{
        @apply border-1 rounded-md p-2 border-neutral-300 hover:bg-white hover:text-gray-950;
    }
}

@layer components{
    .btn{
        @apply border-1 rounded-md p-2 border-neutral-300 hover:bg-white hover:text-gray-950;
    }
    .btn-to-black{
        @apply border-1 rounded-md p-2 border-neutral-300 bg-white text-gray-950 hover:bg-gray-950 hover:text-white;
    }
    .trans-all{
        @apply transition-all duration-300 ease-in-out;
    }
    .rtl{
        direction: rtl;
    }
    .ltr{
        direction: ltr;
    }
    .tit-footer{
        @apply text-lg font-medium bg-gradient-to-r from-purple-400 to-pink-600 bg-clip-text text-transparent;
    }
    .op-footer{
        @apply text-gray-300 transition-all duration-300 hover:text-transparent hover:bg-gradient-to-r hover:from-purple-400 hover:to-pink-600 hover:bg-clip-text;
    }
    .in-txt{
        @apply w-full  rounded-full bg-white/10 px-6 py-3 text-white placeholder-gray-300 border-none focus:caret-pink-500;
    }
}